.container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imgContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.icon{
    opacity: 0.6;
    cursor: pointer;
}